# Dependencies
node_modules/
frontend/node_modules/

# Environment files
.env
.env.local

# Hardhat files
cache/
artifacts/
typechain/
typechain-types/

# Coverage
coverage/
coverage.json

# Builds
build/
dist/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.log

# Deployment files
deployments-*.json
